@use './fonts';
@use './variables';
@use './reset';

:root {
  color-scheme: light;
}

body {
  overflow-x: hidden;
}

#app {
  min-height: 100vh;
  overflow: clip;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
}
